.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  min-height: 80vh;
}

.home-text {
  flex: 1;
  max-width: 500px;
  z-index: 1000;
}

.home-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.shop-btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #111418;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.shop-btn:hover {
  background-color: #2a2f34;
}

.home-image {
  flex: 1;
  text-align: center;
  overflow-x: hidden;


}

.home-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  animation: moving 2s linear infinite alternate-reverse;
}

@keyframes moving {
 0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15vw); /* Moves beyond the screen */
  }
}



