.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 310px));
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem;
}

.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  padding: 2rem;
}

